.main{
    margin-top: 50px;
    margin-left:23%;
}
.yapilis{
    margin-left:20%;
    margin-top:10vh;
}
img{
    padding-bottom:10vh;
    padding-top:2vh;
}
p{
    width: 50%;
}
h2{
    margin-top:5vh;
}
#bir{
    padding-top: 5vh;
}
.main1{
    margin-top:5vh;
}